<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ATY_Init</string>
	<key>CFBundleIdentifier</key>
	<string>com.dong.driver.ATY_Init</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ATY_Init</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ATY_Init</key>
		<dict>
			<key>ATI Radeon 4600 Series</key>
			<dict>
				<key>@0,AAPL,boot-display</key>
				<integer>1</integer>
				<key>@0,PP_DisablePPLib</key>
				<integer>1</integer>
				<key>@0,built-in</key>
				<integer>1</integer>
				<key>@0,connector-type</key>
				<string>0x00000010</string>
				<key>@0,device_type</key>
				<string>display</string>
				<key>@0,display-connect-flags</key>
				<data>
				AAQ=
				</data>
				<key>@0,display-link-component-bits</key>
				<integer>6</integer>
				<key>@0,name</key>
				<string>ATY,Cattail</string>
				<key>@1,PP_DisablePPLib</key>
				<integer>1</integer>
				<key>@1,connector-type</key>
				<string>0x00000800</string>
				<key>@1,device_type</key>
				<string>display</string>
				<key>@1,display-link-component-bits</key>
				<integer>6</integer>
				<key>@1,name</key>
				<string>ATY,Cattail</string>
				<key>@2,PP_DisablePPLib</key>
				<integer>1</integer>
				<key>@2,connector-type</key>
				<string>0x00000010</string>
				<key>@2,device_type</key>
				<string>display</string>
				<key>@2,display-link-component-bits</key>
				<integer>6</integer>
				<key>@2,name</key>
				<string>ATY,Cattail</string>
				<key>AAPL,aux-power-connected</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,slot-name</key>
				<data>
				U2xvdC0x
				</data>
				<key>AAPL00,override-no-connect</key>
				<data>
				AP///////wAGrzwYAAAAAAETAQOAHxF4CsilnldUkiaZ
				UFQAAAABAQEBAQEBAQEBAQEBAQEBEhtWRlAAIzAmFjYA
				Na0QAAAYAAAADwAAAAAAAAAAAAAAAAAgAAAA/gBBVU8K
				ICAgICAgICAgAAAA/gBCMTQwWFcwMSBWOCAKABc=
				</data>
				<key>ATY,Card#</key>
				<string>109-B148xx-00</string>
				<key>ATY,Copyright</key>
				<string>Copyright AMD Inc. All Rights Reserved. 2005-2012</string>
				<key>ATY,EFICompileDate</key>
				<string>Jan 18 2012</string>
				<key>ATY,EFIVersion</key>
				<data>
				MDEuMDAuMjM2AA==
				</data>
				<key>ATY,EFIVersionBios</key>
				<string>113-B14801-023</string>
				<key>ATY,MemRevisionID</key>
				<data>
				AQA=
				</data>
				<key>ATY,MemVendorID</key>
				<data>
				BgA=
				</data>
				<key>ATY,Rom#</key>
				<string>113-B1480A-236</string>
				<key>ATY,VendorID</key>
				<integer>1002</integer>
				<key>device_type</key>
				<string>ATY,CattailParent</string>
				<key>model</key>
				<string>AMD Radeon HD 7610M</string>
				<key>name</key>
				<string>ATY,CattailParent</string>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.dong.driver.ATY_Init</string>
			<key>IOClass</key>
			<string>ATY_Init</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xffffff00</string>
			<key>IOPCIMatch</key>
			<string>0x00001002&amp;0x0000ffff 0x000010de&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NVIDIA</key>
			<dict>
				<key>@0,compatible</key>
				<string>NVDA,NVMac</string>
				<key>@0,device_type</key>
				<string>display</string>
				<key>@0,fboffset</key>
				<integer>131072</integer>
				<key>@0,name</key>
				<string>NVDA,Display-A</string>
				<key>@1,compatible</key>
				<string>NVDA,NVMac</string>
				<key>@1,device_type</key>
				<string>display</string>
				<key>@1,name</key>
				<string>NVDA,Display-B</string>
				<key>@2,compatible</key>
				<string>NVDA,sensor-parent</string>
				<key>@2,device_type</key>
				<string>NVDA,gpu-diode</string>
				<key>@2,hwctrl-params-version</key>
				<data>
				AAAAAg==
				</data>
				<key>@2,hwsensor-params-version</key>
				<data>
				AAAAAg==
				</data>
				<key>@2,name</key>
				<string>sensor-parent</string>
				<key>@2,reg</key>
				<data>
				AAAAAg==
				</data>
				<key>AAPL,slot-name</key>
				<data>
				U2xvdC0x
				</data>
				<key>VRAM,totalsize</key>
				<data>
				AAAAIA==
				</data>
				<key>device_type</key>
				<string>NVDA,GeForce</string>
				<key>name</key>
				<string>NVDA,Parent</string>
				<key>rom-revision</key>
				<string>netkas.org</string>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
